img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
}

#addActor-btn {
    border: 1px solid black;
    border-radius: 2px;
}

#addActor-btn:hover {
 background-color: darkblue;
 color:white;
}

table {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    border: solid 2px black;
    border-radius: 5px;
    border-collapse: collapse;
    position: relative;
}

th {
    border-bottom: solid 2px black;
    padding-bottom: 5px;
    text-align: left;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 10;
}

th > input[type="button"] { 
    border: none;
    font-weight: bolder;
    font-size: medium;
}

th > input[type="button"]:hover {
    color: rgb(180, 92, 92);
    background-color: rgba(50, 50,50, 0.2)
}

tr > td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

tr > td > input[type="button"] {
    font-weight: bold;
    color: maroon;
    border-radius: 5px;
}

tr > td > input[type="button"]:hover {
    font-weight: bold;
    color: maroon;
    border-radius: 5px;
    background-color: crimson;
}